.title {
    -fx-font-family: customGameFont;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 60px;
}

.subtitle{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}

.small_title{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 23px;
}

.message{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.main_menu_button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 44px;
    -fx-padding: 10 20 10 20;
    -fx-font-family: "Press Start 2P";
}

.main_menu_button:focused {
    -fx-underline: true;
}

.bonus {
    -fx-text-fill: gold;
}
